@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

main {
    max-width: 1400px;
    margin: 0 auto;
}

/* shared style */
.display-flex {
    display: flex;
}

/* dark02 */
.text-gray {
    color: #424242;
}

/* dark03 */
.text-light-gray {
    color: #727272;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

/* navbar styles */
.brand {
    font-size: 2.8rem;
    font-weight: 700;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
}

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
}

.btn-primary {
    background-color: #FF900E;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px;
    border-radius: 10px;
    border: none;
    margin: 30px 0;
}

.banner-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.banner figure img {
    display: inline-block;
    width: 100%;
    margin-bottom: 60px;
}

.teams {
    align-items: center;
    justify-content: space-between;
    gap: 70px;
    margin: 80px 130px auto auto;
}

.team-imgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.quick-list {
    font-size: 2.8rem;
    margin: 0 auto;
}

.teams-features .feature-text {
    color: #FF900E;
}

.teams-features .btn-primary {
    margin: 0 auto;
}


/* responsive media */
@media screen and (max-width:575px) {
    .navbar {
        flex-direction: column;
    }
}