@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

main {
    max-width: 1400px;
    margin: 0 auto;
}

/* shared style */
.display-flex {
    display: flex;
}

/* dark02 */
.text-gray {
    color: #424242;
}

/* dark03 */
.text-light-gray {
    color: #727272;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.display-grid {
    display: grid;
}

main>section {
    margin-top: 100px;
}

/* navbar styles */
.brand {
    font-size: 2.8rem;
    font-weight: 700;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
}

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
}

.btn-primary {
    background-color: #FF900E;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px;
    border-radius: 10px;
    border: none;
    margin: 30px 0;
}

.banner-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.banner figure img {
    display: inline-block;
    width: 100%;
    margin-bottom: 60px;
}

.teams {
    align-items: center;
    justify-content: space-between;
    gap: 70px;
}

.team-imgs-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

/* .img-response{
    width: 100%;
} */

.quick-list {
    font-size: 2.8rem;
    margin: 0 auto;
}

.primary-orange {
    color: #FF900E;
}

.teams-features .btn-primary {
    margin: 0 auto;
}

#quicklist-font-weight {
    font-weight: 500;
}

/* features you will love section */
.features-will-love {
    gap: 150px;
    padding: 30px;
}

.features-and-cards-left {
    max-width: 675px;

}

.image-right {
    max-width: 675px;
}


.features-and-cards-left h3 {
    font-size: 2.8rem;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.features-and-cards-left>p {
    margin-bottom: 30px;
}

.card {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.151);
    margin-bottom: 20px;
    padding: 20px;
    border: none;
    border-radius: 10px;
}

.card h5 {
    font-weight: 600;
    font-size: 1.25rem;
    margin: 0;
}

/* experience badge */
#experience-badge {
    background-color: #FF900E;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: -120px;
    margin-left: -80px;
}

#experience-year {
    font-size: 4rem;
}

#text-experience {
    font-size: 1.25rem;
}

/* fact card section */
.fact-cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 100px;
    justify-items: center;
    gap: 30px;
}


.some-facts {
    text-align: left;
}

#some-facts-title {
    font-weight: 700;
    font-size: 2.8rem;
    margin: 0;
}

.fact-card {
    height: 240px;
    width: 240px;
    border: 1px solid #FF900E;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.fact-card h3 {
    font-size: 2.8rem;
    font-weight: 600;
    margin: 0;
}

.fact-card p {
    font-weight: 500;
    font-size: 1.25rem;
    margin: 0;
}

/* sponsor section */
.our-sponsor {
    text-align: center;
}

.our-sponsor h3 {
    font-size: 2.8rem;
    font-weight: 700;
    margin-top: 100px;
}

.sponsor-image-container {
    margin-top: 50px;
    justify-content: space-between;
    filter: grayscale();
}

/* footer section */
.footer-bg {
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    height: 100px;
    max-width: 1400px;
    border-radius: 10px;
}

/* responsive media */
@media screen and (max-width:745px) {

    .navbar,
    .teams {
        flex-direction: column;
    }

    .team-imgs-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .teams-features {
        text-align: center;
    }

    .some-facts {
        text-align: center;
    }

    .fact-cards-container {
        grid-template-columns: repeat(1, 1fr);
        padding: 50px;
    }

    .features-will-love {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .image-right img {
        width: 100%;
    }

    .sponsor-image-container {
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }
}

@media screen and (min-width: 746px) and (max-width: 1150px) {
    .teams {
        flex-direction: column;
        text-align: center;
    }

    .fact-cards-container {
        grid-template-columns: repeat(2, 1fr);
        padding: 50px;
    }

    .some-facts {
        text-align: center;
    }

    .features-will-love {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .image-right img {
        width: 100%;
    }

    .sponsor-image-container {
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }
}